<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/style4.css">
    <link rel="icon" href="/IMG/iconn.png">

</head>
<body id = "fundo1" class = "fonteid">
        <header class="header">
            <a href="/"> <img src="./IMG/edita.gif" width="50" height="45"></a>
            <nav>
                <ul class="menu">
                    <li><a href=/cadastro>Criar </a></li>
                    <li><a href="/">Menu</a></li>
                </ul>
            </nav>
        </header>
<section id = "center">
                <div class = "box">
                    <form action="/cadastro" method="POST">
                        <legend><b>Adiconando um Jogo</b></legend>
                        <br>
                        <div class="inputC">
                            <p class= "question">Nome</p>
                            <label for="nome"></label class = "labelinput">
                            <input type="text" name="nome" id="input_nome" placeholder="Nome" required>
                        </div>
                        <br>    
                        <div class="inputC">
                            <p class= "question">Genero</p>
                            <label for="genero"></label>
                                <select name="genero">  
                                    <option value="Ação">Ação</option>
                                    <option value="FPS">FPS(Tiro em primeira pessoa)</option>
                                    <option value="Card Game">Card Game</option>
                                    <option value="MOBA">MOBA</option>
                                    <option value="RPG">RPG</option>
                                    <option value="Simulador">Simulador</option>
                                    <option value="Corrida">Corrida</option>

                                </select>
                                                    <br>
                         <br>
                        <div class="inputC">
                            <p class= "question">Imagem Url</p>
                            <label for="imagem"></label class = "labelinput">
                            <input type="url" name="imagem" id="input_imagem" placeholder="Imagem url" required>
                        </div>
                        <br>
                        <div class="inputC">
                            <p class= "question">Descrição</p>
                            <label for="descritivo"></label class = "labelinput">
                            <input type="text" name="descritivo" id="input_descritivo" placeholder="descritivo" required>
                        </div>
                        <button class="botao" type="submit">Adicionar</button>
                    </form>
                </div>
                </section>
</body>
</html>